body {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica-Light, Helvetica, Arial, sans-serif;
}


:local {
  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex: 1;
  }
}
