body {
  font-family: 'Open Sans', Helvetica-Light, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
}


:local {
  .main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .content {
    flex: 1;
  }
}

:global {
  .test {
    color: red;
  }

}
