:local {
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #e5e5e5;

    @media (max-width: 48em) {
      font-size: 0.8rem;
    }

    @media (max-width: 21em) {
      font-size: 0.6rem;
    }

    a {
      color: #4f4f4f;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .backBtn {
    position: absolute;
    top: 50%;
    left: 0.25rem;
    transform: translateY(-50%);

    @media (max-width: 13em) {
      display: none;
    }
  }

  .newForm:hover {
    box-shadow: 0 2px 2px -2px #7d88d4;
  }
}
