:local {
  .header {
    background-color: #85144b;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .backBtn {
    position: absolute;
    left: 0;
  }
}
