:local {
  .viewer {
    padding-left: 1rem;
  }

  .backBtn {
    position: absolute;
    text-decoration: none;
    color: #4f4f4f;
    left: 0;
  }

  .header {
    background: #ebfbff;
  }
}

fieldset {
  border: 1px dotted #c0c0c0;
  border-radius: 0.5rem;
}
