input[type="text"] {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.4rem;
}

:local {
  .input {
    margin: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .error {
    background-color: #fecfd0;
  }
}
