body {
  font-family: 'Open Sans', Helvetica-Light, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}


:local {
  .main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .content {
    flex: 1;
  }
}


.row {
  lost-utility: clearfix;
}

.quarter {
  lost-column: 1/4 0;
}

.half {
  lost-column: 1/2 0;
}
