:local {
  .main {
    display: flex;
    justify-content: center;
    max-width: 75rem;
    flex-direction: column;
    padding: 0 1rem;
  }

  .sendBtn {
    width: 10rem;
    align-self: center;
    margin-bottom: 2rem;
  }
}
