:local {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
    max-width: 75rem;
  }

  .sendBtn {
    align-self: center;
    margin-bottom: 2rem;
    width: 10rem;
  }
}
