:local {
  .asterisk {
    color: red;
  }

  .frm {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border: 1px solid black;
    line-height: 30px;
    padding: 0 10px;
    margin-bottom: 0.4rem;
  }

  .titleArea {
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
  }
}
