:local {
  .asterisk {
    color: red;
  }

  .frm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem;
  }

  .titleArea {
    min-width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .editBtn {
    margin-left: 4px;
  }
}
