:local {
  .asterisk {
    color: red;
  }

  .frm {
    border: 1px dotted #ccc;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem;
  }

  .titleArea {
    /*min-width: 20rem;*/
  }

  .editBtn {
    margin-left: 4px;
  }
}
