:local {
  .asterisk {
    color: red;
    width: 0.7rem;
    padding-left: 0.3rem;
  }

  .input {
    word-break: break-all;
    white-space: normal;
    min-height: 1rem;
  }

  .frm {
    border: 1px dotted #e6e6e6;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    margin-bottom: 0.4rem;
  }

  .titleArea {
    margin-left: 0.4rem;
  }

  .editBtn {
    margin-left: 4px;
  }
}
