:root {
  --active-color: #7d88d4;
  --hover-color: #d3d8f7;
}

:local {
  .textAreaPanel {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .tabsBar {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
  }

  .tab {
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    user-select: none;

    @media (max-width: 64em) {
      font-size: 0.6rem;
    }

    @media (max-width: 75em) {
      padding: 0 0.5rem;
    }
  }

  .tab:hover {
    border-bottom: 2px solid var(--hover-color);
  }

  .optional {
    @media (max-width: 64em) {
      display: none;
    }
  }
}

.ReactTabs__Tab {
  border-bottom: 1px solid #e5e5e5;
}

.ReactTabs__Tab--selected {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}

.ReactTabs__Tab--selected:hover {
  border-bottom: 2px solid var(--active-color);
}
