:local {
  .container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  .cat {
    display: flex;
    justify-content: center;

    & figcaption {
      font-size: 3rem;
    }
  }
}
