:local {
  .item {
    font-size: 1.45rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }

  .item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .link {
    word-break: break-all;
    white-space: normal;
  }
}
