:root {
  --grid {
    display: flex;
    flex-wrap: wrap;
  }

  --cell {
    box-sizing: border-box;
    flex-shrink: 0;
  }

  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
}

@custom-media --sm-viewport only screen and (min-width: 48em);
@custom-media --md-viewport only screen and (min-width: 64em);
@custom-media --lg-viewport only screen and (min-width: 75em);

.grid { @apply --grid; }

.grid__no-wrap { flex-wrap: nowrap; }

.grid__top { align-items: flex-start; }
.grid__middle { align-items: center; }
.grid__bottom { align-items: flex-end; }
.grid__stretch { align-items: stretch; }
.grid__baseline { align-items: baseline; }

.grid__left { justify-content: flex-start; }
.grid__center { justify-content: center; }
.grid__right { justify-content: flex-end; }
.grid__between { justify-content: space-between; }
.grid__around { justify-content: space-around; }

.grid__column { flex-direction: column; }

.cell { @apply --cell; }

.сell__fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

@for $i from 1 to 12 {
  .cell__$(i)of12 { width: calc(100% * $i / 12); }
}

@media (--sm-viewport) {
  @for $i from 1 to 12 {
    .cell__sm__$(i)of12 { width: calc(100% * $i / 12); }
  }

  .сell__sm__fill {
    width: 0;
    min-width: 0;
    flex-grow: 1;
  }
}

@media (--md-viewport) {
  @for $i from 1 to 12 {
    .cell__md__$(i)of12 { width: calc(100% * $i / 12); }
  }
}

@media (--lg-viewport) {
  @for $i from 1 to 12 {
    .cell__lg__$(i)of12 { width: calc(100% * $i / 12); }
  }
}
