:root {
  --grid {
    display: flex;
    flex-wrap: wrap;
  }
  --cell {
    box-sizing: border-box;
    flex-shrink: 0;
  }
}

.grid { @apply --grid; }

.grid__top { align-items: flex-start; }
.grid__middle { align-items: center; }
.grid__bottom { align-items: flex-end; }
.grid__stretch { align-items: stretch; }
.grid__baseline { align-items: baseline; }

.grid__left { justify-content: flex-start; }
.grid__center { justify-content: center; }
.grid__right { justify-content: flex-end; }
.grid__between { justify-content: space-between; }
.grid__around { justify-content: space-around; }


.cell { @apply --cell; }

.сell__fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

@for $i from 1 to 12 {
  .cell__$(i)of12 { width: calc(100% * $i / 12); }
}
