@media (max-width: 29.9em) {
  .not-xs {
    display: none;
  }
}

@media (max-width: 47.9em) {
  .not-sm {
    display: none;
  }
}

@media (min-width: 29.9em) {
  .xs-only {
    display: none;
  }
}

@media (min-width: 47.9em) {
  .sm-only {
    display: none;
  }
}

.not-allowed {
  cursor: not-allowed;
}

button:active,
button:hover,
button:focus {
  outline-width: 0;
}

input:active,
input:hover,
input:focus {
  outline-width: 0;
}
