:local {
  .container {
    @media (min-width: 75em) {
      padding: 0 1rem;
      min-height: calc(100vh - 6.5rem - 2px);
      border: 1px solid #e5e5e5;
      background-color: #fff;
    }
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bfbfbf;
    text-transform: uppercase;
    white-space: normal;
    word-break: break-all;
    font-size: 1.2rem;

    @media (max-width: 48em) {
      margin-bottom: 2rem;
      padding: 0 0.5rem;
    }
  }

  .title {
    word-wrap: break-word;
  }

  .editBtn {
    margin-left: 0.25rem;
  }

  hr {
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
  }

  .txt {
    color: #4f4f4f;
  }

  .modal_description {
    margin: 0 0.5rem;
  }

  .help {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #e5e5e5;
    color: #bfbfbf;
    font-style: italic;
    font-size: 0.9rem;
    padding-left: 0.25rem;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;

    @media (min-width: 48em) {
      justify-content: flex-end;
      padding: 0;
    }
  }
}
