:local {
  .container {
    @media (min-width: 75em) {
      background-color: #fff;
      border: 1px solid #e5e5e5;
      min-height: calc(100% - 6.5rem);
      padding: 0 1rem;
    }
  }

  .description {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #bfbfbf;
    text-transform: uppercase;
    word-break: break-all;
    white-space: normal;
    align-items: center;

    @media (max-width: 48em) {
      margin-bottom: 2rem;
      padding: 0 0.5rem;
    }
  }

  .title {
    word-wrap: break-word;
  }

  .editBtn {
    margin-left: 0.25rem;
  }

  hr {
    height: 1px;
    background-color: #e5e5e5;
    border: 0;
  }

  .txt {
    color: #4f4f4f;
  }

  .btns {
    @media (max-width: 48em) {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
    }
  }
}
