:local {
  .item {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
  }

  .item:first-child {
    margin-top: 1rem;
  }

  .subj {
    display: flex;
    flex-direction: column;
  }

  .asterisk {
    color: red;
    cursor: help;
  }

  .h4 {
    white-space: normal;
    word-break: break-all;
  }
}

label {
  margin-bottom: 0.5rem;
  white-space: normal;
  word-break: break-all;
}

label:last-child {
  margin-bottom: 0;
}
